.contacts__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 2.28;
  text-align: center;

  color: #4abcec;
}

.contacts__text {
  margin: 0 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.17;

  text-align: center;

  color: #ffffff;
}

.contacts__list {
  position: relative;
  width: 230px;
  margin: 10px auto 0;
  padding: 5px 15px 30px;

  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;

  text-align: center;

  color: #ffffff;

  background: linear-gradient(286.41deg, #033958 3.63%, #0f6b78 90.98%);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
}

.contacts__itemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__icon {
  margin-right: 5px;

  width: 15px;
  height: 15px;
}

.contacts__item {
  margin: 10px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;

  text-align: center;

  color: #4abcec;
}

.contacts__shedule {
  margin: 0 auto;
  width: 112px;
}

.contacts__btn {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;

  bottom: -25px;
  min-width: 200px;
  padding: 5px;
}

.contacts__btnIconShadow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  margin-right: 10px;

  background: rgba(7, 52, 71, 0.05);

  border-radius: 50%;
}

.contacts__btnIcon {
  display: flex;
  justify-content: center;
  width: 27px;
  height: 27px;

  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #073447 100%);
  box-shadow: 0px 7px 20px -7px #00e0ff;
  border-radius: 50%;
}

.contacts__name {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.54;

  color: #00e0ff;
}

.contacts__bg {
  //   height: 430px;
  //   width: 100%;
  // z-index: 1;

  // mix-blend-mode: multiply;
  box-shadow: inset 500px 0px 250px #000000;
}

.contacts__position {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.82;

  color: #ffffff;
}

.contacts__map {
  position: relative;
  height: 470px;
}

.contacts__director {
  position: absolute;
  bottom: 20px;
}

.contacts__shadow1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 200px;
  top: 150px;

  border-radius: 50%;
  background: #ffffff;
  filter: blur(50px);
}

.contacts__shadow2 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -60px;
  top: 15px;

  background: #ffffff;
  filter: blur(50px);
}

// 480px -----------------------------------------------------------

@media screen and (min-width: 480px) {
  .contacts__title {
    font-size: 18px;
    line-height: 2.55;
  }

  .contacts__text {
    width: 230px;
    margin: 0 auto;

    font-size: 13px;
    line-height: 2;
  }

  .contacts__list {
    padding: 5px 15px 30px;

    font-size: 12px;
    line-height: 1.25;
  }

  .contacts__icon {
    width: 20px;
    height: 20px;
  }

  .contacts__item {
    font-size: 13px;
    line-height: 1.85;
  }

  .contacts__shedule {
    width: 123px;
  }

  .contacts__btn {
    bottom: -25px;
    width: 200px;
    padding: 5px;

    font-size: 9px;
  }

  .contacts__name {
    font-size: 14px;
    line-height: 1.43;
  }

  .contacts__position {
    font-size: 12px;
    line-height: 1.67;
  }
}

// 768px -----------------------------------------------------------

@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 24px;
    line-height: 1.92;
  }

  .contacts__text {
    width: 250px;
    margin: 0 auto;

    font-size: 14px;
    line-height: 1.86;
  }

  .contacts__list {
    position: relative;
    width: 300px;
    margin: 10px auto 0;
    padding: 10px 20px 50px;

    font-size: 13px;
    line-height: 1.23;
  }

  .contacts__icon {
    margin-right: 10px;

    width: 20px;
    height: 20px;
  }

  .contacts__item {
    font-size: 14px;
    line-height: 1.71;
  }

  .contacts__shedule {
    width: 135px;
  }

  .contacts__btn {
    bottom: -30px;
    width: 260px;
  }

  .contacts__btnIconShadow {
    height: 50px;
    width: 50px;
    margin-right: 25px;
  }

  .contacts__btnIcon {
    width: 35px;
    height: 35px;
  }

  .contacts__name {
    font-size: 18px;
    line-height: 1.11;
  }

  .contacts__position {
    font-size: 13px;
    line-height: 1.54;
  }

  .contacts__director {
    bottom: 40px;
  }
}
