.fix {
  padding: 0px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__shedule {
  margin-bottom: 5px;
}

.footer__car {
  display: flex;
  justify-content: center;
}

.fixbug {
  padding: 0;
}
