.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__bg {
  background: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.75) 3.63%,
    rgba(4, 58, 65, 0.75) 90.98%
  );
}

.footer__wrapper {
  padding-top: 20px;
  padding-bottom: 10px;

  display: grid;
  justify-content: center;
}

.footer__logo {
  display: flex;
  padding-right: 55px;
  margin-bottom: 10px;
}

.footer__shedule,
.footer__phone,
.footer__email,
.footer__car {
  padding-right: 15px;
  justify-self: center;
}

.copyright {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.copyright__title {
  margin: 0 3px;
  font-weight: 500;
  font-size: 9px;
  line-height: 2.33;

  background: linear-gradient(
    180deg,
    #ffffff 65.96%,
    rgba(105, 104, 104, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

.copyright__line {
  flex-grow: 1;
  height: 0.1px;
  background: rgba(0, 224, 255, 0.2);
  transform: matrix(-1, 0, 0, -1, 0, 0);
}

.footer__soc {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.footer__btnshadow {
  position: absolute;
  top: -30px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);

  border-style: none;
  border-radius: 50%;
}

.footer__btnscroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  box-shadow: 0px 7px 20px -7px #00e0ff;
  border-radius: 50%;
}

.footer__btnicon {
  width: 15px;
  height: 15px;
}

// 480px ----------------------------------------------------------------------------------

@media screen and (min-width: 480px) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__logo {
    grid-column: 1 / 3;
    justify-self: center;
    padding-right: 95px;
  }

  .footer__phone {
    grid-column: 1 / 3;
    justify-self: center;
    padding-right: 25px;
  }

  .footer__shedule {
    grid-row: 3;
    justify-self: start;
    align-self: center;
  }

  .footer__email {
    grid-column: 1;
    justify-self: start;
    align-self: center;
  }

  .footer__car {
    grid-row: 3 / 5;
    justify-self: end;
  }

  .copyright__title {
    margin: 0 5px;
    font-size: 13px;
    line-height: 1.61;
  }

  .footer__btnshadow {
    top: -40px;
    right: 15px;

    width: 80px;
    height: 80px;
  }

  .footer__btnscroll {
    width: 45px;
    height: 45px;
  }

  .footer__btnicon {
    width: 20px;
    height: 20px;
  }
}

// 768px ----------------------------------------------------------------------------------

@media screen and (min-width: 768px) {
  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__logo {
    padding-right: 0;
    justify-self: end;
  }

  .footer__phone {
    padding-right: 0;
    grid-column: 3;
    justify-self: end;
    align-self: end;
  }

  .footer__shedule {
    padding-right: 0;
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
  }

  .footer__email {
    padding-right: 0;
    grid-column: 3;
    justify-self: end;
  }

  .footer__car {
    padding-right: 0;
    grid-column: 2;
    grid-row: 2 / 4;
    justify-self: center;
  }

  .copyright__title {
    margin: 0 10px;

    font-size: 14px;
    line-height: 1.5;
  }

  .footer__btnshadow {
    top: -52px;
    right: 20px;

    width: 105px;
    height: 105px;
  }

  .footer__btnscroll {
    width: 60px;
    height: 60px;
  }

  .footer__btnicon {
    width: 25px;
    height: 25px;
  }
}

// 1024px ----------------------------------------------------------------------------------

@media screen and (min-width: 1024px) {
  .footer__wrapper {
    grid-template-columns: 1fr 140px 1fr;
  }

  .footer__logo {
    grid-column: 1;
    grid-row: 1 / 4;

    justify-self: center;
  }

  .footer__phone {
    justify-self: center;
  }

  .footer__shedule {
    justify-self: center;
  }

  .footer__email {
    justify-self: center;
  }

  .footer__car {
    grid-row: 1 / 4;
    align-self: center;
  }
}

// 1920px ----------------------------------------------------------------------------------

@media screen and (min-width: 1920px) {
  .footer__wrapper {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .footer__logo {
    grid-row: 1 / 3;
  }

  .footer__phone {
    grid-column: 4;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: start;
    margin-left: 40px;
  }

  .footer__shedule {
    align-self: start;
    justify-self: end;
  }

  .footer__email {
    align-self: end;
    justify-self: end;
  }

  .footer__car {
    grid-row: 1 / 3;
  }

  .footer__btnshadow {
    top: -70px;
    right: 30px;

    width: 140px;
    height: 140px;
  }

  .footer__btnscroll {
    width: 80px;
    height: 80px;
  }
}
