.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__bg {
  background: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.75) 3.63%,
    rgba(4, 58, 65, 0.75) 90.98%
  );
}

.footer__padding {
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding-right: 55px;
  margin-bottom: 10px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.logocar__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.copyright__title {
  margin: 0 3px;
  font-weight: 500;
  font-size: 9px;
  line-height: 2.33;

  background: linear-gradient(
    180deg,
    #ffffff 65.96%,
    rgba(105, 104, 104, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

.copyright__line {
  flex-grow: 1;
  height: 0.1px;
  background: rgba(0, 224, 255, 0.2);
  transform: matrix(-1, 0, 0, -1, 0, 0);
}

.footer__soc {
  display: flex;
  align-items: center;
}

.footer__btnshadow {
  position: absolute;
  top: -30px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);

  border-style: none;
  border-radius: 50%;
}

.footer__btnscroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  box-shadow: 0px 7px 20px -7px #00e0ff;
  border-radius: 50%;
}

.footer__btnicon {
  width: 15px;
  height: 15px;
}

// 480px ----------------------------------------------------------------------------------

@media screen and (min-width: 480px) {
  .footer__padding {
    padding-bottom: 15px;
  }

  .footer__wrapper {
    margin-bottom: 20px;
  }

  .footer__subWrapper {
    order: 3;
    width: 100%;
    display: flex;
  }

  .shedule__order {
    order: 2;
    margin-right: auto;
  }

  .phone__order {
    order: 1;
  }

  .copyright__title {
    margin: 0 5px;
    font-size: 13px;
    line-height: 1.61;
  }

  .footer__btnshadow {
    top: -40px;
    right: 15px;

    width: 80px;
    height: 80px;
  }

  .footer__btnscroll {
    width: 45px;
    height: 45px;
  }

  .footer__btnicon {
    width: 20px;
    height: 20px;
  }
}

// 768px ----------------------------------------------------------------------------------

@media screen and (min-width: 768px) {
  .footer__padding {
    padding-bottom: 20px;
  }

  .copyright__title {
    margin: 0 10px;

    font-size: 14px;
    line-height: 1.5;
  }

  .footer__btnshadow {
    top: -52px;
    right: 20px;

    width: 105px;
    height: 105px;
  }

  .footer__btnscroll {
    width: 60px;
    height: 60px;
  }

  .footer__btnicon {
    width: 25px;
    height: 25px;
  }
}

// 1920px ----------------------------------------------------------------------------------

@media screen and (min-width: 1920px) {
  .footer__btnshadow {
    top: -70px;
    right: 30px;

    width: 140px;
    height: 140px;
  }

  .footer__btnscroll {
    width: 80px;
    height: 80px;
  }
}
