.pageHeader {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.pageHeader__nav {
  padding-top: 10px;

  display: grid;
  grid-template-columns: auto 1fr auto;
}

.logoImg__wrapper,
.logoTitle__wrapper {
  grid-row: 1 / 3;
}

.logoTitle__wrapper {
  justify-self: start;
}

.menuNav__icon {
  justify-self: end;
  align-self: center;
  width: 25px;
  height: 25px;
}

// 480px ---------------------------------

@media screen and (min-width: 480px) {
  .pageHeader__nav {
    padding-top: 15px;
  }

  .menuNav__icon {
    width: 30px;
    height: 30px;
  }
}

// 768px ---------------------------------

@media screen and (min-width: 768px) {
  .pageHeader__nav {
    padding-top: 25px;
    grid-template-columns: auto 1fr auto auto;
  }

  .logoImg__wrapper,
  .logoTitle__wrapper {
    grid-row: 1 / 2;
  }

  .menuNav__icon {
    width: 40px;
    height: 40px;
  }
}

// 1024px ---------------------------------

@media screen and (min-width: 1024px) {
  .pageHeader__nav {
    padding-top: 35px;
  }
}

// 1920px ---------------------------------

@media screen and (min-width: 1920px) {
  .pageHeader__nav {
    padding-top: 40px;
  }
}
