.shedule__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 20px;
}

.logocar__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.shedule__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section__autoschool {
  position: relative;
}

.hero__title {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.title {
  &__course {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.18;

    color: #747d81;
    text-align: center;
  }

  &__hero {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.22;

    text-align: center;

    background: linear-gradient(180deg, #ffffff 100%, #1a3031 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px #000000;
  }

  &__text {
    margin-bottom: 20px;
    width: 155px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.18;
    text-align: center;

    color: #ffffff;
  }
}

.guarantee__wrapper {
  display: flex;
  flex-direction: column;
}

.guarantee {
  display: flex;
  justify-content: center;
}

.guarantee__border {
  width: 35px;
  height: 35px;
  padding: 2px;
  margin-right: 20px;

  border-radius: 12px;
  background: radial-gradient(
    47.54% 111.62% at 50% 50%,
    #49b9e8 0%,
    rgba(31, 77, 96, 0.43) 100%
  );
}

.guarantee__btn {
  width: 31px;
  height: 31px;
  padding: 6px;
  border-radius: 12px;
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
}

.guarantee__icon {
  width: 20px;
  height: 20px;
}

.guarantee__title {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;

  color: #ffffff;
}

.guarantee__text {
  width: 195px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  color: #00e0ff;
}

.btn__margin {
  margin: 0 auto 30px 0;
}

.bg {
  position: absolute;
  width: 50%;
  top: 250px;
  right: 0;
}

.bg__img {
  mix-blend-mode: lighten;
}

.hero__soc {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
}

// 320px -----------------------------------------------------
@media screen and (max-width: 479px) {
  .guarantee {
    order: 2;
  }
}

// 480px -----------------------------------------------------

@media screen and (min-width: 480px) {
  .shedule__contacts {
    padding-top: 90px;
    padding-bottom: 10px;
  }

  .shedule__wrapper {
    justify-content: flex-end;
  }

  .title {
    &__course {
      font-size: 12px;
      line-height: 1.25;
      text-align: start;
    }

    &__hero {
      display: inline;
      margin-bottom: 5px;

      font-size: 64px;
      line-height: 1.22;
      text-align: start;
    }

    &__text {
      width: 325px;

      font-size: 12px;
      line-height: 1.25;
      text-align: start;
    }
  }

  .guarantee {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .guarantee__border {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }

  .guarantee__btn {
    width: 41px;
    height: 41px;
    padding: 8px;
  }

  .guarantee__icon {
    width: 25px;
    height: 25px;
  }

  .guarantee__title {
    font-size: 11px;
    line-height: 1.18;
  }

  .guarantee__text {
    width: 215px;

    font-size: 11px;
    line-height: 1.18;
  }

  .btn__margin {
    margin: 0;
  }

  .bg {
    position: absolute;
    width: 45%;

    top: 335px;
  }
}

// 768px -----------------------------------------------------

@media screen and (min-width: 768px) {
  .shedule__contacts {
    padding-top: 135px;
    padding-bottom: 25px;
  }

  .title {
    &__course {
      font-size: 14px;
      line-height: 1.21;
    }

    &__hero {
      font-size: 96px;
    }

    &__text {
      width: 380px;

      font-size: 14px;
      line-height: 1.21;
    }
  }

  .guarantee {
    flex-direction: column;
    margin-bottom: 95px;
  }

  .guarantee__border {
    margin-bottom: 10px;

    width: 55px;
    height: 55px;
  }

  .guarantee__btn {
    width: 51px;
    height: 51px;
    padding: 10px;
  }

  .guarantee__icon {
    width: 30px;
    height: 30px;
  }

  .guarantee__title {
    font-size: 14px;
    line-height: 2.21;
  }

  .guarantee__text {
    width: 195px;

    font-size: 14px;
    line-height: 2.21;
  }

  .bg {
    position: absolute;
    width: 75%;
    top: 540px;
  }

  .hero__soc {
    bottom: 15px;
  }
}

// 1024px -----------------------------------------------------

@media screen and (min-width: 1024px) {
  .shedule__contacts {
    padding-top: 115px;
    padding-bottom: 0;
  }

  .guarantee {
    flex-direction: row;
    margin-bottom: 65px;
  }

  .guarantee__border {
    margin-right: 50px;
  }

  .guarantee__text {
    width: 365px;
  }

  .bg {
    width: 50%;
    top: 355px;
  }

  .bg__img {
    mix-blend-mode: lighten;
  }

  .hero__soc {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
  }
}

// 1920px -----------------------------------------------------

@media screen and (min-width: 1920px) {
  .shedule__contacts {
    padding-top: 0;
    margin-bottom: 90px;
  }

  .section__wrapper {
    flex: 1;
  }

  .logocar__wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .shedule__wrapper {
    flex: 1;
    align-items: flex-start;
  }

  .section__autoschool {
    margin-left: 200px;
  }

  .title {
    &__course {
      font-size: 18px;
      line-height: 1.22;

      margin-bottom: 30px;
    }

    &__hero {
      display: block;
      font-size: 120px;

      margin-bottom: 10px;
    }

    &__text {
      width: 450px;

      font-size: 18px;
      line-height: 1.22;

      margin-bottom: 85px;
    }
  }

  .guarantee {
    margin-bottom: 75px;
  }

  .guarantee__border {
    width: 70px;
    height: 70px;
  }

  .guarantee__btn {
    width: 66px;
    height: 66px;
    padding: 13px;
  }

  .guarantee__icon {
    width: 40px;
    height: 40px;
  }

  .guarantee__title {
    font-size: 18px;
    line-height: 1.22;
  }

  .guarantee__text {
    width: 470px;

    font-size: 18px;
  }

  .btn__margin {
    margin-bottom: 115px;
  }

  .consult__wrapper {
    position: absolute;
    top: 130px;
    left: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .consult__btnShadow {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 140px;
    background: rgba(255, 255, 255, 0.05);

    border-style: none;
    border-radius: 50%;
  }

  .consult__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: linear-gradient(
      180deg,
      rgba(3, 225, 255, 0.66) 0%,
      #13cdc2 100%
    );
    box-shadow: 0px 7px 20px -7px #00e0ff;
    border-radius: 50%;
  }

  .consult__btnIcon {
    color: #ffffff;
    fill: #ffffff;
    width: 40px;
    height: 40px;
  }

  .consult__text {
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 1.2px;
    letter-spacing: 0.36em;
    text-transform: uppercase;

    color: #00e0ff;

    transform: rotate(-90deg);
  }
}
