.heroContact__wrapper {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20px 45px 35px;
}

.logocar__wrapper {
  grid-row: 1/3;
  justify-self: end;
  align-self: center;
}

.shedule__wrapper,
.phone__wrapper,
.email__wrapper {
  justify-self: center;
}

.email__wrapper {
  grid-column: 2;
}

.hero__wrapper {
  display: grid;
  // grid-template-columns: 1fr auto 10px 3fr 3fr auto;
  grid-template-columns: 1fr 1fr;
}

// 352px -----------------------------------------------------
@media screen and (min-width: 352px) {
  .hero__wrapper {
    grid-template-columns: 1fr 2fr;
  }
}
// 384px -----------------------------------------------------
@media screen and (min-width: 384px) {
  .hero__wrapper {
    grid-template-columns: 1fr 3fr;
  }
}
// 416px -----------------------------------------------------
@media screen and (min-width: 416px) {
  .hero__wrapper {
    grid-template-columns: 1fr 4fr;
  }
}
// 448px -----------------------------------------------------
@media screen and (min-width: 448px) {
  .hero__wrapper {
    grid-template-columns: 1fr 5fr;
  }
}

.title {
  &__course {
    grid-column: 1/3;

    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.18;

    color: #747d81;
  }

  &__hero {
    grid-column: 1/3;
    margin-bottom: 10px;

    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.22;

    background: linear-gradient(180deg, #ffffff 100%, #1a3031 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px #000000;
  }

  &__text {
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
    max-width: 155px;

    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.18;

    color: #ffffff;
  }
}

.bg__img {
  grid-column: 2;
  grid-row: 3/5;
  justify-self: end;

  mix-blend-mode: lighten;
  image-rendering: -webkit-optimize-contrast;
}

.btn__wrapper {
  grid-column: 1/3;
  grid-row: 4;

  align-self: end;
  margin-left: 0;
}

.hero__soc {
  grid-column: 2;
  grid-row: 3/5;
  justify-self: end;
  align-self: end;
}

.guarantee__wrapper {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.guarantee__border {
  width: 35px;
  height: 35px;
  padding: 2px;
  margin-left: 20px;

  border-radius: 12px;
  background: radial-gradient(
    47.54% 111.62% at 50% 50%,
    #49b9e8 0%,
    rgba(31, 77, 96, 0.43) 100%
  );
}

.guarantee__btn {
  width: 31px;
  height: 31px;
  padding: 6px;
  border-radius: 12px;
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
}

.guarantee__icon {
  width: 20px;
  height: 20px;
}

.guarantee {
  padding-left: 10px;
  padding-right: 20px;
}

.guarantee__title {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;

  color: #ffffff;
}

.guarantee__text {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  color: #00e0ff;
}

// 480px -----------------------------------------------------

@media screen and (min-width: 480px) {
  .hero__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    &__course {
      font-size: 12px;
      line-height: 1.25;
    }

    &__hero {
      font-size: 64px;
      line-height: 1.22;
    }

    &__text {
      max-width: 100%;

      font-size: 12px;
      line-height: 1.25;
      text-align: start;
    }
  }

  .bg__img {
    grid-column: 2;
    grid-row: 4/6;

    align-self: end;
  }

  .btn__wrapper {
    grid-column: 1;
    grid-row: 5;
  }

  .guarantee__wrapper {
    grid-column: 1;
    grid-row: 4;
    margin-top: 0;
  }

  .guarantee__border {
    width: 45px;
    height: 45px;
    margin-left: 0;
  }

  .guarantee__btn {
    width: 41px;
    height: 41px;
    padding: 8px;
  }

  .guarantee__icon {
    width: 25px;
    height: 25px;
  }
  .guarantee {
    padding-right: 0;
  }

  .guarantee__title {
    font-size: 11px;
    line-height: 1.18;
  }

  .guarantee__text {
    font-size: 11px;
    line-height: 1.18;
  }
}

// 768px -----------------------------------------------------

@media screen and (min-width: 768px) {
  .title {
    &__course {
      font-size: 14px;
      line-height: 1.21;
    }

    &__hero {
      font-size: 96px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.21;
    }
  }

  .guarantee__border {
    width: 55px;
    height: 55px;
  }

  .guarantee__btn {
    width: 51px;
    height: 51px;
    padding: 10px;
  }

  .guarantee__icon {
    width: 30px;
    height: 30px;
  }

  .guarantee__title {
    font-size: 14px;
    line-height: 2.21;
  }

  .guarantee__text {
    font-size: 14px;
    line-height: 2.21;
  }
}

// 1024px -----------------------------------------------------

@media screen and (min-width: 1024px) {
  .consult__btnShadow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.05);

    border-style: none;
    border-radius: 50%;
  }

  .consult__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(
      180deg,
      rgba(3, 225, 255, 0.66) 0%,
      #13cdc2 100%
    );
    box-shadow: 0px 7px 20px -7px #00e0ff;
    border-radius: 50%;
  }

  .consult__btnIcon {
    color: #ffffff;
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }

  .consult__text {
    font-style: normal;
    font-weight: 900;
    font-size: 9px;

    letter-spacing: 0.36em;
    text-transform: uppercase;

    color: #00e0ff;
  }
}

// 1920px -----------------------------------------------------

@media screen and (min-width: 1920px) {
  .title {
    &__course {
      font-size: 18px;
      line-height: 1.22;
    }

    &__hero {
      font-size: 120px;
    }

    &__text {
      font-size: 18px;
      line-height: 1.22;
    }
  }

  .guarantee__border {
    width: 70px;
    height: 70px;
  }

  .guarantee__btn {
    width: 66px;
    height: 66px;
    padding: 13px;
  }

  .guarantee__icon {
    width: 40px;
    height: 40px;
  }

  .guarantee__title {
    font-size: 18px;
    line-height: 1.22;
  }

  .guarantee__text {
    font-size: 18px;
  }

  .consult__btnShadow {
    width: 140px;
    height: 140px;
  }

  .consult__btn {
    width: 100px;
    height: 100px;
  }

  .consult__btnIcon {
    width: 40px;
    height: 40px;
  }

  .consult__text {
    font-size: 10px;
    line-height: 1.2px;

    transform: rotate(-90deg);
  }
}
