.pagesection__bg {
  // height: 100%;
  // width: 100%;
  // z-index: 1;
  opacity: 25%;

  mix-blend-mode: luminosity;
}

.page_section__list {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.75;

  color: #ffffff;
}

.page_section__item {
  padding: 5px 15px;

  text-indent: -10px;

  background: linear-gradient(286.41deg, #073447 3.63%, #08262b 90.98%);
  border-radius: 6px;
}

.page_section__border {
  width: 20px;
  height: 20px;
  padding: 2px;

  border-radius: 6px;
  background: radial-gradient(
    47.54% 111.62% at 50% 50%,
    #49b9e8 0%,
    rgba(31, 77, 96, 0.43) 100%
  );
}

.page_section__btn {
  width: 16px;
  height: 16px;
  padding: 5px;

  border-radius: 6px;
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
}

.page_section__icon {
  width: 5px;
  height: 5px;
}

.page_section__bull {
  font-size: 18px;
  line-height: 1;
  color: #4abcec;
}

.page_section__text {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.91;

  color: #08b1b9;
}

.page_section__subbull {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;

  margin-top: 3px;
  margin-right: 5px;

  font-size: 10px;
  border-radius: 50%;
  background: #4abcec;
}

.page_section__subitem {
  color: #4abcec;
}

.page_section__subtext {
  display: flex;
  margin-top: 10px;
}

.page_section__subp {
  width: 100%;
}

.page_section__sublist {
  margin-bottom: 10px;
}
