.program__bg {
  //   height: 100%;
  width: 100%;
  z-index: 1;

  //   mix-blend-mode: luminosity;
  opacity: 75%;
}

.program__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 20px;

  text-align: center;

  color: #ffffff;
}

.program__list {
  padding: 0;
  list-style: none;
}

.program__item {
  padding: 5px 10px 5px 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  text-indent: -15px;
  color: #ffffff;

  background: rgba(98, 159, 178, 0.7);
  border-radius: 0px 10px 10px 10px;
}

.program__item:not(:last-child) {
  margin-bottom: 20px;
}

.program__num {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.58;
  color: #4abcec;
}

// 480px -----------------------------------------------------

@media screen and (min-width: 480px) {
  .program__text {
    font-size: 18px;
    line-height: 1.61;
    margin-bottom: 30px;
  }

  .program__item {
    padding: 5px 10px 10px 30px;
    font-size: 13px;
    line-height: 1.61;
    text-indent: -20px;
  }

  .program__num {
    font-size: 20px;
    line-height: 1.61;
  }
}
