.seven__bg {
  height: 100%;
  width: 100%;
  z-index: 1;

  mix-blend-mode: luminosity;
  opacity: 25%;
  image-rendering: -webkit-optimize-contrast;
}

.seven__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 0;
  list-style: none;
}

.seven__item {
  width: 130px;
  height: 105px;
  margin: 15px 2%;
  padding: 2px;

  border-radius: 20px;
  background: radial-gradient(
    47.54% 111.62% at 50% 50%,
    #49b9e8 0%,
    rgba(31, 77, 96, 0.43) 100%
  );

  &:last-child {
    width: 155px;
  }
}

.seven__itemText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 10px 10px;
  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  color: #ffffff;

  background: linear-gradient(180deg, #0c373d 0%, rgba(0, 224, 255, 0.49) 100%);
  border-radius: 20px;
}

.seven__icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.seven__itemCenter {
  flex: 1;
  display: flex;
  align-items: center;
}

// 480px -----------------------------------------------------

@media screen and (min-width: 480px) {
  .seven__item {
    width: 165px;
    height: 125px;
    margin: 15px 5%;

    &:last-child {
      width: 220px;
    }
  }

  .seven__itemText {
    padding: 20px 10px 15px;

    font-size: 11px;
    line-height: 1.18;
  }

  .seven__icon {
    width: 20px;
    height: 20px;
  }
}

// 768px -----------------------------------------------------

@media screen and (min-width: 768px) {
  .seven__item {
    width: 215px;
    height: 160px;

    &:last-child {
      width: 290px;
    }
  }

  .seven__itemText {
    padding: 25px 20px 20px;

    font-size: 13px;
    line-height: 1.23;
  }

  .seven__icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
}

// 1024px -----------------------------------------------------

@media screen and (min-width: 1024px) {
  .seven__item {
    margin: 20px 1%;

    &:last-child {
      width: 290px;
    }
  }

  .seven__item > * {
    flex: 1 1 800px;
  }
}

// 1920px -----------------------------------------------------

@media screen and (min-width: 1920px) {
  .seven__list {
    width: 1300px;
    margin: 175px auto;
  }

  .seven__item {
    width: 285px;
    height: 215px;
    margin: 30px 0;

    &:nth-child(5),
    &:nth-child(6),
    &:last-child {
      width: 387px;
    }
  }

  .seven__itemText {
    padding: 35px 40px 15px;

    font-size: 14px;
    line-height: 1.21;
  }

  .seven__icon {
    width: 50px;
    height: 50px;
  }
}
