.teachers__bg {
  mix-blend-mode: exclusion;
  opacity: 75%;
}

.teachers__shadow {
  margin: 20px auto;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background: #043a41;
}

.teachers__foto {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  overflow: hidden;
  mix-blend-mode: screen;
}

.teachers__name {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.38;

  text-align: center;

  color: #4abcec;
}

.teachers__position {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;

  text-align: center;

  color: #ffffff;
}

.teachers__btn {
  display: block;
  padding: 10px;
  margin: 0 auto 275px;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 1.22;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  color: #ffffff;

  background: rgba(3, 225, 255, 0.5);
  border: 1px solid #00e0ff;
  box-sizing: border-box;
  box-shadow: 0px 7px 20px -7px #00e0ff;
  border-radius: 50px;
}

.teachers__btnArrow {
  width: 100px;
  position: absolute;
  z-index: -1;

  padding: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.8;

  color: #ffffff;

  background: rgba(3, 225, 255, 0.5);
  border: 1px solid #00e0ff;
  border-right: none;
  box-sizing: border-box;
  box-shadow: 0px 7px 20px -7px #00e0ff;

  border-radius: 0px 0px -50px -50px;
  // border-top-left-radius: 50px;
  // border-bottom-left-radius: 50px;
}

.div {
  background: lightgreen;
  width: 100px;
  height: 200px;
  position: relative;
  text-align: center;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}
.div:before {
  content: "";
  position: absolute;
  // background: white;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  border-radius: 40%;
  transform: translatey(-50%);
}
// 480px --------------------------------------------------------------

@media screen and (min-width: 480px) {
  .teachers__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .teachers__shadow {
    margin: 30px auto;
    width: 30vw;
    height: 30vw;
  }

  .teachers__foto {
    width: 30vw;
    height: 30vw;
  }

  .teachers__name {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.43;
  }

  .teachers__position {
    margin-bottom: 30px;

    font-size: 13px;
    line-height: 1.61;
  }

  .teachers__btn {
    margin: 0 auto 365px;

    font-size: 10px;
    line-height: 1.2;
  }
}

// 768px --------------------------------------------------------------

@media screen and (min-width: 768px) {
  .teachers__shadow {
    margin: 20px auto;
    width: 20vw;
    height: 20vw;
  }

  .teachers__foto {
    width: 20vw;
    height: 20vw;
  }

  .teachers__name {
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 1.39;
  }

  .teachers__position {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.57;
  }

  .teachers__btn {
    display: block;
    padding: 15px 25px;
    margin: 0 auto 450px;

    font-size: 11px;
    line-height: 1.18;
  }
}

// 1024px --------------------------------------------------------------

@media screen and (min-width: 1024px) {
  .teachers__shadow {
    width: 15vw;
    height: 15vw;
  }

  .teachers__foto {
    width: 15vw;
    height: 15vw;
  }
}

// 1920px --------------------------------------------------------------

@media screen and (min-width: 1920px) {
  .teachers__shadow {
    width: 10vw;
    height: 10vw;
  }

  .teachers__foto {
    width: 10vw;
    height: 10vw;
  }

  .teachers__name {
    font-size: 24px;
    line-height: 1.42;
  }

  .teachers__position {
    font-size: 18px;
    line-height: 1.61;
  }

  .teachers__btn {
    margin: 0 auto 500px;

    font-size: 12px;
    line-height: 1.25;
  }
}
