.logo__car {
  width: 80px;
  height: 35px;
  mix-blend-mode: luminosity;
}

// 480px ---------------------------------

@media screen and (min-width: 480px) {
  .logo__car {
    margin-left: auto;
    margin-right: auto;
    width: 105px;
    height: 45px;
    mix-blend-mode: luminosity;
  }
}
