.logo__img {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 45px;
  // height: 63px;
  margin-right: 10px;
}

@media screen and (min-width: 480px) {
.logo__img {
  //   width: 200px;
  // height: 184px;
}
}