.logo__img {
  display: flex;
  // flex: 1;
  justify-content: center;
  width: 45px;
  height: 63px;
  margin-right: 10px;
}

// 480px ---------------------------------------------

@media screen and (min-width: 480px) {
  .logo__img {
    width: 60px;
    height: 84px;
    margin-right: 35px;
  }
}

// 768px -----------------------------------------------

@media screen and (min-width: 768px) {
  .logo__img {
    width: 75px;
    height: 105px;
    margin-right: 60px;
  }
}

// 1920px -----------------------------------------------

@media screen and (min-width: 1920px) {
  .logo__img {
    width: 95px;
    height: 130px;
    margin-right: 20px;
  }
}
