.logo__img {
  width: 45px;
  height: 63px;
  margin-right: 10px;

  image-rendering: -webkit-optimize-contrast;
}

// 480px ---------------------------------------------

@media screen and (min-width: 480px) {
  .logo__img {
    width: 60px;
    height: 84px;
  }
}

// 768px -----------------------------------------------

@media screen and (min-width: 768px) {
  .logo__img {
    width: 75px;
    height: 105px;
  }
}

// 1920px -----------------------------------------------

@media screen and (min-width: 1920px) {
  .logo__img {
    width: 95px;
    height: 130px;
  }
}
