.shedule {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__icon {
    display: flex;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  &__title {
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.18;

    color: #ffffff;
  }

  &__number_one {
    letter-spacing: 1.3px;
  }

  &__number_three {
    letter-spacing: 1.9px;
  }
}

// 480px ---------------------------------

@media screen and (min-width: 480px) {
  .shedule {
    align-items: flex-end;

    &__icon {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }

    &__title {
      font-size: 12px;
      line-height: 1.25;
    }
  }
}
