h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-shadow: 0px 2px 2px #000000;
}

body {
  margin: 0;
  font-family: $main-font;
}

.page__sections {
  padding: 20px 0;
}

.title__sections {
  max-width: 275px;
  margin: 0 auto 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

.title__base {
  color: #4abcec;
}

.line {
  position: absolute;
  width: 100%;
  height: 100%;

  box-shadow: 0px 0px 15px rgba(0, 224, 255, 0.93), 0px 0px 15px #4ad9ec,
    0px 0px 15px #00e0ff;
  filter: blur(5px);
}

.hr__shadow {
  width: 100%;
  height: 0.1px;

  background: #022637;

  // border-image-source: linear-gradient(
  //   270deg,
  //   rgba(74, 207, 236, 0.21) 0%,
  //   #32abc3 53.12%,
  //   rgba(74, 197, 236, 0.23) 100%
  // );

  box-shadow: 0px 0px 5px rgba(0, 224, 255, 0.93), 0px 0px 5px #4ad9ec,
    0px 0px 5px #00e0ff;
  filter: blur(3px);

  // background-color: #022335;
  // background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: $main-font;
  font-size: 12px;
  line-height: 1.17;
  // color: $movie-title-black-color;
  overflow-y: overlay;

  &.modal-open {
    overflow: hidden;
  }
}

ul {
  // list-style: none;
  padding: 0;
  margin-left: 10px;
}

li {
  text-shadow: 0px 4px 4px #000000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

// Скрытые заголовки /
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.btn {
  display: block;
  max-width: 175px;
  min-height: 30px;
  margin: 0 auto;
  padding: 0;

  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  box-shadow: 0px 7px 20px -7px #00e0ff;
  border-radius: 10px;
  border-style: none;
  padding: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  color: #ffffff;
}
