.container {
  width: 100%;
  padding-left: 120px;

  // padding-right: 120px;
  margin-left: 0;
  margin-right: 0;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  // @include respond-above($mobile) {
  //   width: $mobile;
  // }

  // @include respond-above($tablet) {
  //   width: $tablet;
  //   // padding-left: 75px;
  //   // padding-right: 75px;
  // }

  // @include respond-above($desktop) {
  //   width: $desktop;
  //   // padding-left: 71px;
  //   // padding-right: 71px;
  // }
}
