.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);

  @include respond-above($mobile) {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-above($mob-tab) {
    max-width: $mob-tab;
  }

  @include respond-above($tablet) {
    max-width: $tablet;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include respond-above($desktop) {
    max-width: $desktop;
  }

  @include respond-above($big-desktop) {
    max-width: $big-desktop;
    padding-left: 20px;
    padding-right: 20px;
  }
}
